<link rel="stylesheet" href="styles.css">
  <section id="fof" class="clear">
    <!-- ####################################################################################################### -->
    <div class="fl_left">
      <h1><span>404 Error</span><strong>?</strong></h1>
    </div>
    <div class="fl_right">
      <h2>Sorry, Possible Reasons:</h2>
      <ul>
        <li>Route doesn't exist</li>
        <li>Trying to find something fun...</li>
        <li>Looking at this 404 error</li>
        <li>Just checking... just checking...</li>
      </ul>
    </div>
    <p><a class="go-home" href="#">Go Back Home</a></p>
    <!-- ####################################################################################################### -->
  </section>
